{% extends 'base.html' %}


{% block content %}
  <h3>BASS is a Christian Secondary School established in 1948 by the seventhday Adventist Church in Uganda. It is fully accredited by the Adventist accrediting Association, licensed and registered by the ministry of Education and Sports with UNEB Center number U0200 for both levels</h3>
  
  <h3>The Campus is situated 32 Kilometers North East of Kampala City of Uganda away from the hustle and bustle city of life. The journey from the City centre to the school takes about one hour. We praise God for the following advantages; among others</h3>
  <style> 
    body{
        background-color: blue;
        color: rgb(85, 85, 145);
        font-family: sans-serif;
        font-weight: bolder;
        padding-left: 20px;
    }
  </style>
  {% endblock content %}
